﻿@model IEnumerable<MVP_Blog.Models.Post>

@{
    ViewBag.Title = "Blog Archive";
}

<h2>@ViewBag.Title</h2>
@{
    var firstPost = Model.FirstOrDefault();
    var index = 0;
    if (firstPost != null)
    {
        <h3>@firstPost.Date.ToString("MMMM yyyy"):</h3>
        <ul>
        @foreach (var post in Model) 
        {
            string style = (index++ % 2 == 0) ? null : "background-color: #f5f5f5";
            <li style="@style">
                <h3>@post.Title</h3>
                <p>Posted by @post.Author on @post.Date.ToLongDateString()</p>
            </li>
        }
        </ul>
    }    
}