﻿@model IEnumerable<MVP_Blog.Models.Post>

@{
    ViewBag.Title = "Latest Posts";
}

<h2>Latest Posts</h2>
<ul>
@foreach (var post in Model)
{ 
    <li>
        <h3>@post.Title</h3>
        <div>
            Posted by @post.Author on @post.Date.ToLongDateString()
        </div>    
    </li>
}
</ul>

