﻿@model MVP_Blog.Models.Post

@{
    ViewBag.Title = "ViewPost";
}

<h2>@Model.Title</h2>
<div class="post-body">
    @Model.Text
</div>
<p>
    posted by @Model.Author 
    on @Model.Date.ToLongDateString()
</p>
